RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^film/([^/\.]+)?$ index.php?page=movie&film=$1 [L]
RewriteRule ^species/([^/\.]+)?$ index.php?page=species&species=$1 [L]
RewriteRule ^vehicle/([^/\.]+)?$ index.php?page=vehicle&vehicle=$1 [L]
RewriteRule ^character/([^/\.]+)?$ index.php?page=character&char=$1 [L]
RewriteRule ^planet/([^/\.]+)?$ index.php?page=planet&planet=$1 [L]